@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

body {
    max-width: 1440px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: hsl(233, 47%, 7%);
    color: hsl(0, 0%, 100%);
}

.box__container {
    width: 80%;
    height: 68%;
    border: 1px solid black;
    background: hsl(244, 38%, 16%);
}

.box__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.left__content {
    width: 52%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.textos__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 75%;
    height: 60%;
}

.titulo {
    color: white;
    font-weight: 700;
    font-size: 35px;
    line-height: 2.3rem;
    width: 100%;
    height: 30%;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

.titulo a {
    color: hsl(277, 64%, 61%);
}

.descricao {
    font-size: 15px;
    line-height: 1.5rem;
    color: hsla(0, 0%, 100%, 0.6);
    width: 90%;
    height: 30%;
    margin: 0 auto;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    margin-right: 10%;
}

.number__container {
    text-align: start;
    width: 75%;
    height: 13%;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: flex-start;
    text-transform: uppercase;
}

.number__container h2 {
    margin-right: 4rem;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.number__container p {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color:  hsla(0, 0%, 100%, 0.5);
    margin-top: .5rem;
}

.number__container h2:nth-child(2) p {
    margin-left: -.1rem;
}

.right__container{
    width: 48%;
    height: 100%;
    opacity: 100%;
    filter: opacity(0.5)  drop-shadow(0 0 0 hsl(277, 84%, 57%));
}

.bg-img {
    width: 100%;
    height: 100%;
    background: url(images/image-header-desktop.jpg) no-repeat center;
    opacity: 80%;
}
@media (max-width: 1440px) {
    body {
        max-width: 1300px;
        width: 100%;
        height: 100vh;
    }
    
    .box__container {
        max-width: 90%;
        width: 100%;
        height: 80%;
    }

    .box__content {
        width: 100%;
        height: 100%;
    }

    .left__content {
        width: 60%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .right__container{
        width: 48%;
        height: 100%;
    }
    
    .bg-img {
        background-size: cover;
    }
    
}

@media (max-width: 1040px){
    body{
        max-width: 900px;
        margin: 0 auto;
        width: 100%;
        height: 150vh;
    }
    .box__container {
        max-width: 90%;
        width: 100%;
        height: 95%;
    }

    .box__content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
    }

    .right__container{
        width: 100%;
        height: 50%;
    }
    
    .bg-img {
        background-size: cover;
    }

    .left__content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .textos__container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        text-align: center;
        width: 95%;
        height: 60%;
    }

    .titulo {
        width: 90%;
        height: 40%;
        font-size: 32px;
        text-align-last: center;
    }

    .descricao {
        color: hsla(0, 0%, 100%, 0.6);
        width: 85%;
        height: 30%;
        margin: 0 auto;
    }

    .number__container {
        width: 50%;
        height: 40%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;        
        text-align: center;   
    }

    .number__container h2 {
        margin: 0 auto;
        font-size: 24px;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
    }

    .number__container p {
        margin-top: .6rem;
        font-size: 13px;
    }
}

@media (max-width: 768px){
    body{
        max-width: 600px;
        margin: 0 auto;
        width: 100%;
        height: 150vh;
    }
    .box__container {
        max-width: 90%;
        width: 100%;
        height: 95%;
    }

    .box__content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
    }

    .right__container{
        width: 100%;
        height: 50%;
    }
    
    .bg-img {
        background-size: cover;
    }

    .left__content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .textos__container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        text-align: center;
        width: 95%;
        height: 60%;
    }

    .titulo {
        width: 90%;
        height: 40%;
        font-size: 32px;
        text-align-last: center;
    }

    .descricao {
        color: hsla(0, 0%, 100%, 0.6);
        width: 85%;
        height: 30%;
        margin: 0 auto;
    }

    .number__container {
        width: 50%;
        height: 40%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;        
        text-align: center;   
    }

    .number__container h2 {
        margin: 0 auto;
        font-size: 24px;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
    }

    .number__container p {
        margin-top: .6rem;
        font-size: 13px;
    }
}

@media (max-width: 575px){
    body{
        max-width: 500px;
        margin: 0 auto;
        width: 100%;
        height: 150vh;
    }
    .box__container {
        max-width: 90%;
        width: 100%;
        height: 95%;
    }

    .box__content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
    }

    .right__container{
        width: 100%;
        height: 50%;
    }
    
    .bg-img {
        background-size: cover;
    }

    .left__content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .textos__container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        text-align: center;
        width: 95%;
        height: 60%;
    }

    .titulo {
        width: 90%;
        height: 40%;
        font-size: 32px;
        text-align-last: center;
    }

    .descricao {
        color: hsla(0, 0%, 100%, 0.6);
        width: 85%;
        height: 30%;
        margin: 0 auto;
    }

    .number__container {
        width: 50%;
        height: 40%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;        
        text-align: center;   
    }

    .number__container h2 {
        margin: 0 auto;
        font-size: 24px;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
    }

    .number__container p {
        margin-top: .6rem;
        font-size: 13px;
    }
}

@media (max-width: 375px){
    body{
        max-width: 375px;
        width: 100%;
        height: 150vh;
    }

    .box__container {
        max-width: 90%;
        width: 100%;
        height: 95%;
    }

    .box__content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
    }

    .right__container{
        width: 100%;
        height: 50%;
    }
    
    .bg-img {
        background-size: cover;
    }

    .left__content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .textos__container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        text-align: center;
        width: 95%;
        height: 60%;
    }

    .titulo {
        width: 90%;
        height: 40%;
        font-size: 32px;
        text-align-last: center;
    }

    .descricao {
        color: hsla(0, 0%, 100%, 0.6);
        width: 85%;
        height: 30%;
        margin: 0 auto;
    }

    .number__container {
        width: 50%;
        height: 40%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;        
        text-align: center;   
    }

    .number__container h2 {
        margin: 0 auto;
        font-size: 24px;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
    }

    .number__container p {
        margin-top: .6rem;
        font-size: 13px;
    }
}