body {
    width: 100%;
    height: 100vh;
    background: gray;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.box__container {
    width: 55%;
    height: 46%;
    border: 1px solid black;
    background: chartreuse;
}

.box__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.left__content {
    border: 1px solid red;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.textos__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 20%;
    border: 1px solid black;
}

.titulo {
    color: white;
    font-weight: 600;
    font-size: 28px;
}

.number__container {
    border: 1px solid green;
    width: 80%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.number__content, .descricao__content {
    display: flex;
    justify-content: space-between;
    
}

.right__container{
    width: 100%;
    height: 100%;
    border: 1px solid red;
    background: url(images/image-header-desktop.jpg) no-repeat center;
    object-fit: cover;
}
